:root {
    --verde: #28a745;
    --verde-hover: greenyellow;


}



body {
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.login {
    font-size: medium;
    background-color: whitesmoke;
    width: 90%;
    max-width: 390px;
    margin: 0 auto;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

}

input {

    width: 96%;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 14px;
}

input:focus {
    border: 4px solid #28a745;

}

input:hover {
    border-color: var(--verde)

}

button {
    background-color: var(--verde);
    border-radius: 3px;
    width: 100%;
    color: white;
    margin-bottom: 10px;
    display: block;
    padding: 8px;
    transition: 0.3s;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(52, 255, 1, 0.2);
    font-weight: bold;
    border: none;
}

button:hover{
    background-color: var(--verde-hover);
    transform: translateY(-2px);

}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
     

}

h1 {
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 600;
    color: #333;
}

a {
    text-align: center;
    display:block;
    cursor: pointer;
    margin-bottom: 10px;
    text-decoration: none;
    color: var(--verde)

}

p {
    margin: 10px 0 0;
    text-align: center;
}

.cadastro {
    font-weight: bold;
    text-decoration: none;

}

*{
    box-sizing: border-box;

}

.logo {
    width: 100px;
    display:block;
    margin: 0 auto 20px;
    object-fit:cover;

}